/*.suo
/*.user
/_ReSharper*
/packages
/.vs
/SampleBotImpl
/NotifyBotApp/obj
/NotifyBotApp/bin
/NotifyBot.Interfaces/obj
/NotifyBot.Interfaces/bin
/FindMyBikeBotImpl/obj
/FindMyBikeBotImpl/bin
/NotifyBotApp/Properties/PublishProfiles/*